/* COLS CLASSES */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/*  */
.col-25 {width: 25%;}
.col-50 {width: 50%;}
.col-75 {width: 75%;}
.col-100{width: 100%;}

/* WIDTH CLASSES */
.w-1 {width: 8.33%;}
.w-2 {width: 16.66%;}
.w-3 {width: 25%;}
.w-4 {width: 33.33%;}
.w-5 {width: 41.66%;}
.w-6 {width: 50%;}
.w-7 {width: 58.33%;}
.w-8 {width: 66.66%;}
.w-9 {width: 75%;}
.w-10 {width: 83.33%;}
.w-11 {width: 91.66%;}
.w-12 {width: 100%;}

.w-1,.w-2,.w-3,.w-4,.w-5,.w-6,.w-7,.w-8,.w-9,.w-10,.w-11,.w-12{
	padding: 0 var(--gutter-width);
}
/* FONT WIGHT CLASSES */
.fw-1 {
  font-weight: 100;
}

.fw-2 {
  font-weight: 200;
}

.fw-3 {
  font-weight: 300;
}

.fw-4 {
  font-weight: 400;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.fw-8 {
  font-weight: 800;
}

.fw-9 {
  font-weight: 900;
}

/* INLINE-BLOCK */
.inline-block {
  display: inline-block;
}

/* INLINE */
.inline {
  display: inline;
}

/* BLOCK */
.block {
  display: block;
}

/* RELATIVE */
.p-relative {
  position: relative;
}

/* ABSOLUTE */
.p-absolute{
  position: absolute;
}

/* IMAGE */
img {
  display: block;
  max-width: 100%;
}

/* ROW */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* FLOAT */
.float-right {
  float: right;
}

.float-left {
  float: left;
}

/* DISPLAY FLEX */
.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
}

.flex-rowrev {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-columnrev {
  flex-direction: column-reverse;
}

/* JUSTIFY-CONTENT */
.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

/* ALIGN ITEMS */
.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

/* ALIGN CONTENT */
.align-c-start {
  align-content: flex-start;
}

.align-c-end {
  align-content: flex-end;
}

.align-c-center {
  align-content: center;
}

.align-c-between {
  align-content: space-between;
}

.align-c-around {
  align-content: space-around;
}

.align-c-evenly {
  align-content: space-evenly;
}

/* TEXT ALIGN */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.bdr{
  border: 2px solid red;
}

a{
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

@font-face {
  font-family: target;
  src: url(../fonts/tarrget.ttf);
}
@font-face{
  font-family: target-ita;
  src: url(../fonts/tarrgetexpandital.ttf);
}

@font-face{
  font-family: target-bor;
  src: url(../fonts/tarrgetoutital.ttf);
}

@font-face{
  font-family: target-3d;
  src: url(../fonts/tarrget3dital.ttf);
}

@font-face{
  font-family: robo;
  src: url(../fonts/Valorax-lg25V.otf);
}

@font-face{
  font-family: cut;
  src: url(../fonts/Hokjesgeest-PDGB.ttf);
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root{
  --font:arial;
  --black: #000000;
  --white: #ffffff;
  --gutter-width:12px;
}

body{
  background: #000000;
  position: relative;
}

#custom-js, #bubble-js, #play-js{
  position: absolute;
  height: 100vh;
  width: 100%;
}

.section{
  width: 100%;
  height: 100vh;
}

h1{
  color: #6400a2;
  position: absolute;
  font-size: 150px;
  font-family: target-bor;
  font-weight: 100;
  letter-spacing: 10px;
  animation: h1 linear 5s infinite;
}

@keyframes h1 {
  0%{
    color: #6400a2;
    text-shadow: 7px 7px 10px #6400a2;
  }
  20%{
    color: #0009bd;
    text-shadow: 7px 7px 10px #0009bd;
  }
  40%{
    color: #00d9e0;
    text-shadow: 7px 7px 10px #00d9e0;
  }
  60%{
    color: #00ff40;
    text-shadow: 7px 7px 10px #00ff40;
  }
  80%{
    color: #ff0000;
    text-shadow: 7px 7px 10px #ff0000;
  }
  100%{
    color: #6400a2;
    text-shadow: 7px 7px 10px #6400a2;
  }
}

::-webkit-scrollbar{
  display: none;
}

.dropd{
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 200px;
  background-color: transparent;
  border-radius: 0px 0px 30px 0px;
}

.menu{
  margin-top: 10%;
}

.menu a{
  display: block;
  text-align: center;
  font-size: 25px;
  font-family:'Courier New', Courier, monospace;
  font-weight: 100;
  margin-bottom: 20px;
  letter-spacing: 3px;
  color: #00ffff;
  
}

.hide{
  color: #ffffff;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  font-weight: 100;
  color: #00ffff;
  font-size: 25px;
  letter-spacing: 2px;
  position: absolute;
  top: 10px;
  right: 10px;
}